<nav class="navbar sticky-bottom bg-primary w-100 navbar-expand-sm" data-bs-theme="dark">
    <div class="container-fluid">
        <div>
            <span class="navbar-text">
                Copyright &copy; 2025 brittni watkins.
            </span>
        </div>
        <div>
            <div class="navbar-nav">
                <a href="https://x.com/books_n_code" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's Twitter/X profile">
                    <i class="fa-brands fa-x-twitter fa-lg" aria-label="Twitter/X icon"></i>
                </a>
                <a href="https://bsky.app/profile/brittniwatkins.bsky.social" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's Bluesky profile">
                    <i class="fa-brands fa-bluesky fa-lg" aria-label="BlueSky icon"></i>
                </a>
                <a href="https://www.threads.com/@brittniwatkins" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's Threads profile">
                    <i class="fa-brands fa-threads fa-lg" aria-label="Threads icon"></i>
                </a>
                <a href="https://instagram.com/brittniwatkins" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's Instagram profile">
                    <i class="fa-brands fa-instagram fa-lg" aria-label="Instagram icon"></i>
                </a>
                <a href="https://www.facebook.com/brittniwatkins.dev" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's Facebook profile">
                    <i class="fa-brands fa-facebook fa-lg" aria-label="Facebook icon"></i>
                </a>
                <a href="https://tiktok.com/@brittni.watkins.dev" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's TikTok profile">
                    <i class="fa-brands fa-tiktok fa-lg" aria-label="TikTok icon"></i>
                </a>
                <a href="https://brittniwatkins.tumblr.com/" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's Tumblr profile">
                    <i class="fa-brands fa-tumblr fa-lg" aria-label="Tumblr icon"></i>
                </a>
                <a href="https://github.com/blwatkins" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's GitHub profile">
                    <i class="fa-brands fa-github fa-lg" aria-label="GitHub icon"></i>
                </a>
                <a href="https://blwatkins.github.io/" target="_blank" rel="noopener noreferrer" class="nav-link mx-auto" aria-label="link to Brittni's GitHub Pages blog">
                    <i class="fa-brands fa-square-github fa-lg" aria-label="square GitHub icon"></i>
                </a>
            </div>
        </div>
        <div>
            <div class="navbar-nav ms-auto">
                <a href="/" class="nav-link">home</a>
                <a href="/#about" class="nav-link">about</a>
                <a href="/projects" class="nav-link">projects</a>
                <a href="/acknowledgements" class="nav-link">acknowledgements</a>
            </div>
        </div>
    </div>
</nav>
