<nav class="navbar navbar-expand-sm sticky-top bg-primary w-100" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center jetbrains py-2" href="/">
            <img src="/images/icons/favicon-32x32.png" alt="brittni watkins logo" height="32" class="d-inline-block px-2"/>
            <span>
                brittni's fall 2025 nfts
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/">home</a>
                <a class="nav-link" href="/#about">about</a>
                <a class="nav-link" href="/projects">projects</a>
                <a class="nav-link" href="/contact">contact</a>
            </div>
        </div>
    </div>
</nav>
