<nav class="navbar navbar-expand-md sticky-top bg-primary w-100" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center jetbrains py-2" href="/">
            <img src="/images/icons/icon.png" alt="brittni watkins logo" height="32" class="d-inline-block px-2"/>
            <span>
                brittni's fall 2025 nfts
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
            <div class="navbar-nav ms-auto">
                <a href="/" class="nav-link">home</a>
                <a href="/#about" class="nav-link">about</a>
                <a href="/projects" class="nav-link">projects</a>
                <button id="wallet-connect" type="button" class="btn btn-outline-light">Connect Wallet</button>
            </div>
        </div>
    </div>
</nav>
