<div class="card mx-auto my-2" style="width: 15rem; max-width: 90%;">
    <a href="/projects/<%= project.id %>">
        <img src="<%= project.image_url %>" class="card-img-top px-3 pt-3" alt="Thumbnail image for <%= project.title %>.">
        <div class="card-body text-center">
            <h5 class="card-title m-0"><%= project.title %></h5>
        </div>
    </a>
</div>
