<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head'); %>
        <title>brittni's fall 2025 nfts | home</title>
        <meta name="description" content="Brittni's implementation of the web application project for CRCP 6340; SMU Fall 2025 term.">
    </head>
    <body>
        <header>
            <%- include('includes/header'); %>
        </header>
    </body>
</html>
