<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head'); %>
        <title>brittni's fall 2025 nfts | home</title>
        <meta name="description" content="Brittni's implementation of the web application project for CRCP 6340; SMU Fall 2025 term.">
    </head>
    <body>
        <h1>Hello, World!</h1>
    </body>
</html>
