<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head'); %>
        <title>brittni's fall 2025 nfts | projects</title>
        <meta name="description" content="Projects page in Brittni's implementation of the web application project for CRCP 6340; SMU Fall 2025 term.">
    </head>
    <body>
        <header>
            <%- include('includes/header-navigation'); %>
        </header>
        <div id="content" class="container">
            <div class="row py-3">
                <h2 id="projects" class="text-center">projects</h2>
            </div>
            <div class="row py-3">
                project placeholder
            </div>
        </div>
        <footer>
            <%- include('includes/footer-navigation'); %>
        </footer>
    </body>
</html>
