<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head'); %>
        <title>brittni's fall 2025 nfts | error: 500</title>
        <meta name="description" content="Error 500 page in Brittni's implementation of the web application project for CRCP 6340; SMU Fall 2025 term.">
    </head>
    <body>
        <header>
            <%- include('../includes/header-navigation'); %>
        </header>
        <div id="content" class="container" style="display: flex; justify-content: center; align-items: center;">
            <div class="row">
                <h1 class="text-center">error: 500</h1>
                <h2 class="text-center">something went wrong.</h2>
                <a href="/" class="text-center" aria-label="link to home page"><p>go home</p></a>
            </div>
        </div>
        <footer>
            <%- include('../includes/footer-navigation'); %>
        </footer>
    </body>
</html>
